---
import './HomeUpcomingEvents.scss';
import ClubEventCard from "../../../common/ClubEventCard/ClubEventCard.astro";
import type {ClubEventToList} from "../../../../models";
import {getTranslation} from "../../../../utils/i18n";

interface Props {
  clubEvents: ClubEventToList[];
}

const {clubEvents} = Astro.props as Props;
const lang = Astro.url.pathname.split('/')[1] ?? 'en';
---

<section class="upcoming-events-container">
  <h1>{getTranslation(lang, 'home.upcomingEvents')}</h1>

  <div class="cards-container-slim">
    {clubEvents.slice(0, 3).map(event =>
      <ClubEventCard item={event}/>
    )}
  </div>

  <div class="cards-container">
    {clubEvents.map(event =>
      <ClubEventCard item={event}/>
    )}
  </div>
</section>
