---
import './ClubEventCard.scss';
import type {ClubEventToList} from "../../../models";
import {getTranslation} from "../../../utils/i18n";

interface Props {
  item: ClubEventToList;
}

const {item} = Astro.props as Props;
const lang = Astro.url.pathname.split('/')[1] ?? 'en';

const formattedDate = new Intl.DateTimeFormat(lang, {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
}).format(new Date(item.date));
---

<div class="card-container">
  <div class="img-container">
    <img src={item.imageUrl} alt={item.name} class="img-fluid" width="1080" height="1920"/>
  </div>

  <div class="info-container">
    <div class="location">
      <p>{formattedDate}</p>
      <p class="title">{getTranslation(lang, 'title')}</p>
    </div>

    <div class="event">
      <h3>{item.name}</h3>
      <p>
        <span>{getTranslation(lang, 'home.info')}</span>

        {item.ticketsUrl &&
          <span>/</span>
          <a href={item.ticketsUrl} target="_blank" rel="noopener"
             class="buy-tickets">{getTranslation(lang, 'home.buyTickets')}</a>
        }
      </p>
    </div>
  </div>
</div>
